* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "BPG Glaho", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: rgb(228, 228, 228);
}

header {
  width: 100%;
  height: 96px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
  padding-left: 7.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  width: 87%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header nav #logo {
  display: flex;
  justify-content: center;
  outline: none;
  margin-right: 37px;
}
header nav #logo img {
  width: 124px;
}
header nav .wrappersearchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 2.5rem;
}
header nav .wrappersearchbar #searchbar {
  width: 460px;
  outline: none;
  border-radius: 12px;
  height: 41px;
  border: 1px solid rgb(187, 186, 186);
  padding-left: 18px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header nav .wrappersearchbar #searchbar::placeholder {
  color: rgb(27, 27, 27);
  font-size: 17px;
  font-weight: 300;
  font-family: "BPG Glaho", sans-serif;
  padding-bottom: 8px;
}
header nav .wrappersearchbar #searchbar:focus {
  color: black;
}
header nav .wrappersearchbar #searchbar:focus::placeholder {
  color: rgb(182, 182, 182);
  font-size: 17px;
  font-weight: 300;
  font-family: "BPG Glaho", sans-serif;
}
header nav .wrappersearchbar i {
  color: rgb(27, 27, 27) !important;
  font-size: 20px !important;
  position: absolute;
  right: 20px;
}
header nav .loginsettings {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .loginsettings .lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 17px;
  width: 151px;
  background-color: transparent;
  outline: none;
  border-radius: 12px;
  height: 41px;
  border: 1px solid rgb(221, 221, 221);
  margin-right: 14px;
  cursor: pointer;
}
header nav .loginsettings .lang:hover {
  border: 1px solid rgb(163, 162, 173);
  background-color: rgba(236, 237, 243, 0.747);
}
header nav .loginsettings .lang .globe {
  width: 22px;
}
header nav .loginsettings .lang .loginsettext {
  font-size: 15px;
  font-family: "BPG Glaho", sans-serif;
  font-weight: 300;
}
header nav .loginsettings .lang .dropdown {
  width: 10px;
}
header nav .loginsettings .log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 17px;
  width: 120px;
  background-color: transparent;
  outline: none;
  border-radius: 12px;
  height: 41px;
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
  margin-right: 14px;
  transition: 0.1s;
}
header nav .loginsettings .log:hover {
  border: 1px solid rgb(163, 162, 173);
  background-color: rgba(236, 237, 243, 0.747);
}
header nav .loginsettings .log .user {
  width: 25px;
}
header nav .loginsettings .log .loginsettext {
  font-size: 15px;
  font-family: "BPG Glaho", sans-serif;
  font-weight: 300;
}
header nav .loginsettings .sponsorbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  background-color: transparent;
  outline: none;
  border-radius: 55px;
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
}
header nav .loginsettings .sponsorbtn .sponsorlogo {
  width: 26px;
}/*# sourceMappingURL=style.css.map */