* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "BPG Glaho", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: rgb(241, 241, 241);
}

header {
  width: 100%;
  height: 96px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
  padding-left: 7.48rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
header nav {
  width: 87%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header nav #logo {
  display: flex;
  justify-content: center;
  outline: none;
  margin-right: 37px;
}
header nav #logo img {
  width: 124px;
}
header nav .wrappersearchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 2.5rem;
}
header nav .wrappersearchbar #searchbar {
  width: 460px;
  outline: none;
  border-radius: 12px;
  height: 41px;
  border: 1px solid rgb(187, 186, 186);
  padding-left: 19px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header nav .wrappersearchbar #searchbar::placeholder {
  color: rgb(27, 27, 27);
  font-size: 17px;
  font-weight: 300;
  font-family: "BPG Glaho", sans-serif;
  padding-bottom: 8px;
}
header nav .wrappersearchbar #searchbar:focus {
  color: black;
}
header nav .wrappersearchbar #searchbar:focus::placeholder {
  color: rgb(182, 182, 182);
  font-size: 17px;
  font-weight: 300;
  font-family: "BPG Glaho", sans-serif;
}
header nav .wrappersearchbar i {
  color: rgb(27, 27, 27) !important;
  font-size: 20px !important;
  position: absolute;
  right: 21px;
}
header nav .loginsettings {
  width: 51%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
}
header nav .loginsettings .lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  padding-left: 13px;
  width: 148px;
  background-color: transparent;
  outline: none;
  border-radius: 12px;
  height: 41px;
  border: 1px solid rgb(221, 221, 221);
  margin-right: 13px;
  cursor: pointer;
}
header nav .loginsettings .lang:hover {
  border: 1px solid rgb(163, 162, 173);
  background-color: rgba(239, 240, 247, 0.747);
}
header nav .loginsettings .lang .globe {
  width: 22px;
}
header nav .loginsettings .lang .loginsettext {
  font-size: 15px;
  font-family: "BPG Glaho", sans-serif;
  font-weight: 300;
}
header nav .loginsettings .lang .dropdown {
  width: 10px;
}
header nav .loginsettings .log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  padding-left: 13px;
  width: 118px;
  background-color: transparent;
  outline: none;
  border-radius: 12px;
  height: 41px;
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
  margin-right: 13px;
  transition: 0.1s;
}
header nav .loginsettings .log:hover {
  border: 1px solid rgb(163, 162, 173);
  background-color: rgba(239, 240, 247, 0.747);
}
header nav .loginsettings .log .user {
  width: 25px;
}
header nav .loginsettings .log .loginsettext {
  font-size: 15px;
  font-family: "BPG Glaho", sans-serif;
  font-weight: 300;
}
header nav .loginsettings .sponsorbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  background-color: transparent;
  outline: none;
  border-radius: 55px;
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
  transition: 0.1s;
}
header nav .loginsettings .sponsorbtn:hover {
  border: 1px solid #3c74ff;
}
header nav .loginsettings .sponsorbtn .sponsorlogo {
  width: 26px;
}

.tittletransport {
  font-size: 24px;
  padding-left: 235px;
  letter-spacing: 3px;
  width: 100%;
  padding-top: 117px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2.6rem;
}

.transportcontent {
  width: 100%;
  padding-left: 235px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}
.transportcontent .card {
  width: 345px;
  height: 244px;
  position: relative;
}
.transportcontent .card .imagebox {
  width: 100%;
  height: 180px;
  background-size: cover;
  border-radius: 17px;
  margin-bottom: 15px;
}
.transportcontent .card .imgtrain1 {
  background-image: url(./../images/trainimg1.png);
}
.transportcontent .card .imgtrain2 {
  background-image: url(./../images/trainimg2.png);
}
.transportcontent .card .imgtrain3 {
  background-image: url(./../images/trainimg3.png);
}
.transportcontent .card .imgtrain4 {
  background-image: url(./../images/trainimg4.png);
}
.transportcontent .card .imgtrain5 {
  background-image: url(./../images/trainimg5.png);
}
.transportcontent .card .imgtrain6 {
  background-image: url(./../images/trainimg6.png);
}
.transportcontent .card .imgtrain7 {
  background-image: url(./../images/trainimg7.png);
}
.transportcontent .card .imgtrain8 {
  background-image: url(./../images/trainimg8.png);
}
.transportcontent .card .imgtrain9 {
  background-image: url(./../images/trainimg9.png);
}
.transportcontent .card .cardtittle {
  font-size: 16px;
  font-weight: 300;
}
.transportcontent .card .desc {
  color: rgb(70, 70, 70);
  padding-top: 5px;
  font-size: 13px;
  font-weight: 300;
}
.transportcontent .card .price {
  color: rgb(0, 102, 255);
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  right: 0px;
  bottom: 31px;
}
.transportcontent .card .present {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 33px;
  width: 33px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 118, 229);
  padding-top: 1px;
}
.transportcontent .card .present img {
  width: 15px;
}
.transportcontent .card2 {
  width: 345px;
  height: 244px;
  position: relative;
  margin-top: 35px;
}
.transportcontent .card2 .imagebox {
  width: 100%;
  height: 180px;
  background-size: cover;
  border-radius: 17px;
  margin-bottom: 15px;
}
.transportcontent .card2 .imgtrain9 {
  background-image: url(./../images/trainimg9.png);
}
.transportcontent .card2 .cardtittle {
  font-size: 16px;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */