* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
font-family: "BPG Glaho", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
background-color: rgba(241, 241, 241, 0.815);
padding-top: 168px;
    &::-webkit-scrollbar {
    width: 8px;
    }

    &::-webkit-scrollbar-track {
    background-color: rgb(228, 228, 228);
    }

    &::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: rgb(161, 161, 161);
    border-radius: 50px;
    }
}

// https://web-fonts.ge/bpg-glaho/ fontis linki aq davklinke anu qartuli ra

header {
width: 100%;
height: 96px;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
background-color: white;
padding-left: 7.48rem;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
z-index: 2;
top: 0;
    nav {
    width: 87%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
        // tviton contenti amisi
        #logo {
        display: flex;
        justify-content: center;
        outline: none;
        margin-right: 37px;
            img {
            width: 124px;
            }
        }

        .wrappersearchbar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-right: 2.5rem;
            #searchbar {
            width: 460px;
            outline: none;
            border-radius: 12px;
            height: 41px;
            border: 1px solid rgb(187, 186, 186);
            padding-left: 19px;
            font-size: 16px;
            display: flex;
            justify-content: center;
            padding-bottom: 2px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                &::placeholder{
                color: rgb(27, 27, 27);
                font-size: 17px;
                font-weight: 300;
                font-family: "BPG Glaho", sans-serif;
                padding-bottom: 8px;
                }

                &:focus{
                color: black;
                    &::placeholder{
                    color: rgb(182, 182, 182);
                    font-size: 17px;
                    font-weight: 300;
                    font-family: "BPG Glaho", sans-serif;
                    }
                }
            }

            i {
            color: rgb(27, 27, 27) !important;
            font-size: 20px !important;
            position: absolute;
            right: 21px;
            }
        }

        .loginsettings {
        width: 51%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
            .lang {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 17px;
            padding-left: 13px;
            width: 148px;
            background-color: transparent;
            outline: none;
            border-radius: 12px;
            height: 41px;
            border: 1px solid rgb(221, 221, 221);
            margin-right: 13px;
            cursor: pointer;
                &:hover{
                border: 1px solid rgb(163, 162, 173);
                background-color: rgba(239, 240, 247, 0.747);
                }

                .globe {
                width: 22px;
                }
                .loginsettext {
                font-size: 15px;
                font-family: "BPG Glaho", sans-serif;
                font-weight: 300;
                }
                .dropdown {
                width: 10px;
                }
            }

            .log {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 17px;
            padding-left: 13px;
            width: 118px;
            background-color: transparent;
            outline: none;
            border-radius: 12px;
            height: 41px;
            border: 1px solid rgb(221, 221, 221);
            cursor: pointer;
            margin-right: 13px;
            transition: 0.1s;
                &:hover{
                border: 1px solid rgb(163, 162, 173);
                background-color: rgba(239, 240, 247, 0.747);
                }

                .user {
                width: 25px;
                }
                .loginsettext {
                font-size: 15px;
                font-family: "BPG Glaho", sans-serif;
                font-weight: 300;
                }
            }

            .sponsorbtn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 41px;
            height: 41px;
            background-color: transparent;
            outline: none;
            border-radius: 55px;
            border: 1px solid rgb(221, 221, 221);
            cursor: pointer;
            transition: 0.1s;
                &:hover{
                border: 1px solid #3c74ff;
                }

                .sponsorlogo{
                width: 26px;
                }
            }
        }
    }
}

.category {
z-index: 1;
position: fixed;
top: 96px;
width: 100%;
height: 72px;
background-color: white;
transition: 0.4s;
box-shadow: 0px -10px 25px 1px rgba(0, 0, 0, 0.185);
    &.scrolldown {
    transform: translateY(-72px);
    }
}


.newver{
width: 100%;
height: 41px;
background-color: #CFE4FF;
display: flex;
align-items: center;
padding-left: 235px;
    .siaxle{
    font-size: 12px;
    background-color: rgb(255 0 95);
    color: white;
    font-weight: 300;
    display: inline-block;
    padding: 3px 7px;
    border-radius: 15px;
    margin-right: 8px;
    }
    .gadasvla{
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(29, 29, 29);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    outline: none;
        img {
        margin-left: 10px;
        width: 15px;
        }
    }
}
.tittletransport {
font-size: 24px;
padding-left: 235px;
letter-spacing: 3px;
width: 100%;
padding-top: 47px;
display: flex;
justify-content: flex-start;
align-items: center;
margin-bottom: 2.5rem;
}


.transportcontent{
width: 100%;
padding-left: 235px;
display: flex;
justify-content: flex-start;
align-items: center;
flex-wrap: wrap;
gap: 1.3rem;
margin-bottom: 285px;
    .card {
    width: 345px;
    height: 244px;
    position: relative;
    cursor: pointer;
        .imagebox {
        width: 100%;
        height: 180px;
        background-size: cover;
        border-radius: 17px;
        margin-bottom: 15px;
        background-position: center;
        }

        &:hover {
            .imagebox{
            background-size: 103%;
            }
        }


        // fotoebis kodi
        .imgtrain1 {
        background-image: url(./../images/transportimg1.png);
        }
        .imgtrain2 {
        background-image: url(./../images/transportimg2.png);
        }
        .imgtrain3 {
        background-image: url(./../images/transportimg3.png);
        }
        .imgtrain4 {
        background-image: url(./../images/transportimg4.png);
        }
        .imgtrain5 {
        background-image: url(./../images/transportimg5.png);
        }
        .imgtrain6 {
        background-image: url(./../images/transportimg6.png);
        }
        .imgtrain7 {
        background-image: url(./../images/transportimg7.png);
        }
        .imgtrain8 {
        background-image: url(./../images/transportimg8.png);
        }


        .cardtittle {
        font-size: 16px;
        font-weight: 300;
        }
        .desc{
        color: rgb(70, 70, 70);
        padding-top: 5px;
        font-size: 13px;
        font-weight: 300;
        }
        .price{
        color: rgb(0, 102, 255);
        font-size: 16px;
        font-weight: 300;
        position: absolute;
        right: 0px;
        bottom: 31px;
        }
        .present {
        position: absolute;
        right: 8px;
        top: 8px;
        height: 33px;
        width: 33px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(228 118 229);
        padding-top: 1px;    
            img {
            width: 15px;
            }
        }
        &.hovered {
            .cardtittle {
            color: #3c74ff;
            }
        }
    }
}




.footerdiv {
width: 100%;
height: 734px;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
    .topofthefooter {
    width: 100%;
    padding-left: 235px;
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
        .sponsorapplegooglelink {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
            img {
            width: 113px;
            margin-right: 12px;
            }

            .linktext{
            margin-left: 38px;
            list-style-type: none;
                li {
                font-size: 13px;
                color: rgb(44, 44, 44);
                font-weight: 200;
                }
            }
        }
    }

    hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgb(230, 230, 230);
    }
}